[workspace]
resolver = "2"
members = [
    "swim",
    "api/swim_*",
    "api/formats/swim_*",
    "macro_utilities",
    "swim_client",
    "runtime/swim_*",
    "swim_server",
    "swim_warp",
    "stm",
    "swim_store",
    "swim_utilities",
    "swim_utilities/swim_*",
    "swim_downlink",
    "server/swim_*"
]

exclude = [
    "cookbook"
]

[profile.release]
opt-level = 3