#canvas-container {
    width: 100%;
    text-align:center;
}

canvas {
    display: inline;
}

* {
    padding: 0px;
    margin: 0px;
  }
  
  html, body {
    background-color: #1a1a1a;
    color: white;
    font-size: 16pt;
    font-family: "Open Sans", sans-serif;
    height: 100%;
  }
  
  h3 {
    background-color: #00a6ed;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 0px; 
    border-radius: 5px 5px 0px 0px;
    font-family: Orbitron;
    border-top: solid 1px rgb(175,225,255);
    border-bottom: solid 1px rgb(0,54,86);  
  }
  
  .cellBottom {
    border-radius: 0px 0px 5px 5px;
    padding: 0px;
    margin-top: 10px;
  }
  
  h4 {
    background-color: #00a6ed;
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 0px; 
  }
  
  h5 {
    font-size: 18px;
    color: #000000;
    margin: 10px auto 0px 0px;
  }
  
  h6 {
    margin: 0px;
    padding: 0px;
    font-size: 12px;  
  }
  
  .main {
    width: 970px;
    margin: 10px auto 50px auto;
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-gap: 10px;
  }
  
  .sim {
    width: 600px;
    grid-template-columns: 200px auto;
  }
  
  input,
  select {
    background-color: white;
    color: #000000;
    border: 0px;
    padding: 3px 10px;
    margin: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px inset rgba(0,0,0,0.4);
    transition: 100ms linear;
  }
  
  select:focus {
    outline: none;
  }
  
  input[type="button"]:hover {
    background-color: dodgerblue;
  }
  
  .statusHeader {
    padding: 8px;
  }
  
  .chartRow {
    width: 100%; 
    height: 192px;
    width: 384;
    padding: 20px;
  }
  
  .plantList {
    grid-row: 1 /span 2;
  }
  
  #plantListingDiv div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  
  }
  
  #plantListingDiv div:hover {
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
  }
  
  .plantControls, .plantInputs {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  
  .plantSvg {
    width: 256px;
    margin: 0px auto;
    left: calc(50% - 128px);
    position: relative;  
  }