[package]
name = "swim_runtime"
version = "0.1.0"
authors = ["Swim Inc. developers info@swim.ai"]
edition = "2021"

[dependencies]
bitflags = "1.3.2"
ratchet = { package = "ratchet_rs", version = "0.1.0", features = ["deflate", "split"] }
ratchet_fixture = "0.1.0"
bytes = "1.0"
either = "1.5.3"
flate2 = "1.0.22"
futures = "0.3.4"
futures-util = "0.3.4"
http = "0.2.3"
pin-project = "1.0.5"
pin-utils = "0.1.0"
tokio = { version = "1.1.1", features = ["sync", "rt"] }
tokio-native-tls = "0.3"
tokio-util = { version = "0.6.8", features = ["codec"] }
swim_utilities = { path = "../../swim_utilities", features = ["circular_buffer", "errors", "future", "lrucache", "io"] }
url = "2.1.1"
swim_api = { path = "../../api/swim_api" }
swim_model = { path = "../../api/swim_model" }
swim_form = { path = "../../api/swim_form" }
swim_async_runtime = { path = "../swim_async_runtime" }
swim_warp = { path = "../../swim_warp" }
swim_tracing = { path = "../../swim_utilities/swim_tracing", features = ["future"] }
swim_recon = { path = "../../api/formats/swim_recon", features = ["async_parser"] }
slab = "0.4.2"
tracing = "0.1.16"
tracing-futures = "0.2.4"
thiserror = "1.0"
im = "15.0.0"
tokio-stream = { version = "0.1.2", features = ["sync"] }
uuid = "0.8.2"
static_assertions = "1.1.0"

[dev-dependencies]
tokio = { version = "1.1.1", features = ["macros", "test-util"] }
parking_lot = "0.11.0"
tokio-stream = "0.1.2"
uuid = { version = "0.8.2", features = ["v4"] }
swim_utilities = { path = "../../swim_utilities", features = ["buf_channel"] }
rand = "0.7.3"