.messageListContainer {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px;
    height: 70vh;
    vertical-align: text-top;
}

.loadMoreButton {
    cursor: pointer;
}