.messageBox {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    padding-top: 1px;
    padding-bottom: 20px !important;
    padding-right: 30px !important;
    padding-left: 20px !important;
    width: calc(100% - 13.75rem);
  }