[package]
name = "swim_server_app"
version = "0.1.0"
authors = ["Swim Inc. developers info@swim.ai"]
edition = "2021"

[features]
default = ["persistence"]
persistence = ["swim_persistence", "swim_persistence/rocks", "rocksdb", "swim_store", "swim_store/rocks"]

[dependencies]
futures = "0.3.4"
ratchet = { package = "ratchet_rs", version = "0.2.0", features = ["deflate", "split"] }
swim_utilities = { path = "../../swim_utilities", features = ["io", "trigger", "text"] }
swim_runtime = { path = "../../runtime/swim_runtime" }
swim_remote = { path = "../../runtime/swim_remote" }
bytes = "1.0"
tokio = { version = "1.1.1", features = ["rt"] }
tokio-util = { version = "0.6.8", features = ["codec"] }
swim_model = {path = "../../api/swim_model" }
swim_api = { path = "../../api/swim_api" }
tokio-stream = "0.1.2"
tracing = "0.1.16"
tracing-futures = "0.2.4"
uuid = { version = "0.8.2" }
thiserror = "1.0"
rand = "0.7.3"
url = "2.1.1"
swim_persistence = { path = "../../runtime/swim_persistence", optional = true }
rocksdb = { version = "0.19.0", optional = true }
swim_store = { path = "../../swim_store", optional = true }

[dev-dependencies]
swim_recon = { path = "../../api/formats/swim_recon", features = ["async_parser"] }
tokio = { version = "1.1.1", features = ["rt", "macros"]}
swim_form = {path = "../../api/swim_form" }
swim_warp = { path = "../../swim_warp" }
parking_lot = "0.11.0"
swim_messages = { path = "../../runtime/swim_messages" }
