[package]
name = "swim_remote"
version = "0.1.0"
authors = ["Swim Inc. developers info@swim.ai"]
edition = "2021"

[dependencies]
ratchet = { package = "ratchet_rs", version = "0.1.0", features = ["deflate", "split"] }
ratchet_fixture = "0.1.0"
bytes = "1.0"
flate2 = "1.0.22"
futures = "0.3.4"
http = "0.2.3"
tokio = { version = "1.1.1", features = ["sync"] }
tokio-native-tls = "0.3"
tokio-util = { version = "0.6.8", features = ["codec"] }
swim_utilities = { path = "../../swim_utilities", features = ["io", "buf_channel"] }
url = "2.1.1"
swim_api = { path = "../../api/swim_api" }
swim_model = {path = "../../api/swim_model"}
swim_warp = { path = "../../swim_warp" }
swim_recon = { path = "../../api/formats/swim_recon", features = ["async_parser"] }
swim_messages = { path = "../swim_messages" }
tracing = "0.1.16"
tracing-futures = "0.2.4"
thiserror = "1.0"
tokio-stream = { version = "0.1.2", features = ["sync"] }
uuid = "0.8.2"
static_assertions = "1.1.0"
either = "1.5.3"
smallvec ="1.7.0"

[dev-dependencies]
tokio = { version = "1.1.1", features = ["macros", "rt"] }
